@model midterm_project.Models.Dog

<div class="form-group">
    <div class="row mb-4">
        <label class="control-label col-md-4" asp-for="Name"></label>
        <input class="form-control col-md-8" asp-for="Name" />
        <div class="col-10 offset-md-1 text-danger text-right">
            <span asp-validation-for="Name"></span>
        </div>
    </div>

    <div class="row mb-4">
        <label class="control-label col-md-4" asp-for="Breed"></label>
        <input class="form-control col-md-8" asp-for="Breed" />
        <div class="col-10 offset-md-1 text-danger text-right">
            <span asp-validation-for="Breed"></span>
        </div>
    </div>

    <div class="row mb-4">         
        <label class="control-label col-md-4" asp-for="Gendre"></label>
        <input class="form-control col-md-8" asp-for="Gendre">
        <div class="col-10 offset-md-1 text-danger text-right">
            <span asp-validation-for="Gendre"></span>
        </div>   
    </div>

    <div class="row mb-4">       
        <label class="control-label col-md-4" asp-for="Description"></label>
        <input class="form-control col-md-8" asp-for="Description"/>
        <div class="col-10 offset-md-1 text-danger text-right">
            <span asp-validation-for="Description"></span>
        </div>     
    </div>

    <div class="row mb-4">       
        <label class="control-label col-md-4" asp-for="ImgUrl"></label>
        <input class="form-control col-md-8" asp-for="ImgUrl" />
        <div class="col-10 offset-md-1 text-danger text-right">
            <span asp-validation-for="ImgUrl"></span>
        </div>     
    </div>
</div>